<% contentFor('body') %>
<div class="container mt-5">
    <div class="row">
        <div class="col border">
            <p><strong>Mesa 01</strong></p>
            <div id="0"></div>
            <div class="border-topo" id="total01">
            
            </div>
            
        </div>
        <div class="col border">
            <p><strong>Mesa 02</strong></p>
            <div id="1"></div>
            <div class="border-topo" id="total02">
            
            </div>
        </div>
        <div class="col border">
            <p><strong>Mesa 03</strong></p>
            <div id="2"></div>
            <div class="border-topo" id="total-03">
            
            </div>
        </div>
        <div class="col border" id="total-04">
            <p><strong>Mesa 04</strong></p>
            <div id="3"></div>
            <div class="border-topo">
            
            </div>
        </div>
        
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    window.onload=()=>{

        socket=io('http://localhost:3000');
      
        socket.on('painel',data=>{
            console.log(data)
           
           
                
                let mesa=document.getElementById(`${data.mesa}`);
               

              
                
                    mesa.innerHTML +=`<p><strong>Pedido:</strong>${data.produto} <strong>Valor:</strong>${data.valor}</p>`;
                
            
        
           
           
        })
    }
</script>